@font-face {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    src: url('./assets/Kalam/Kalam-Light.ttf') format('truetype');
  }

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url('./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

:root {
    --logo-background: rgb(255, 196, 17);
    --logo-text:rgb(255, 254, 248);
    --side-bar-background: rgb(237, 237, 237);
    --project-background: rgb(255, 254, 248);
    --side-bar-static-text:rgb(11, 11, 11);

}

body, h1, h2, h3, h4, p, li {
    padding: 0px;
    margin: 0px;
}

.content {
    display: grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 1fr 4fr;
}

.logo {
    grid-area: 1/1/2/3;
    background-color: var(--logo-background);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.logo-icon {
    box-sizing: border-box;
    padding: 40px;
    justify-self: start;
}

.svg {
    height: 50px;
    width: 50px;
    background-image: url('./assets/logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-text {
    color: var(--logo-text);
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "Kalam", cursive;
}

.side-bar {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--side-bar-background);
    display: grid;
    grid-template-rows: 150px 1fr;
}

.static {
    display: grid;
    justify-items: center;
}

.static h2 {
    box-sizing: border-box;
    margin-top: 20px;
    color: var(--side-bar-static-text);
}

.static > .create {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url('./assets/create.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.project {
    background-color: var(--project-background);
}