@font-face {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    src: url('./assets/Kalam/Kalam-Light.ttf') format('truetype');
  }

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url('./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

:root {
    --logo-background: rgb(255, 196, 17);
    --logo-text:rgb(255, 254, 248);
    --side-bar-background: rgba(237, 237, 237, 1);
    --project-background: rgb(255, 254, 248);
    --side-bar-static-text:rgb(11, 11, 11);
    --cancel-button: rgba(255, 138, 138, 0.8);
    --cancel-button-hover: rgba(255, 138, 138, 1);
    --submit-button: rgba(156, 255, 138, 0.7);
    --submit-button-hover: rgba(156, 255, 138, 1);
    --project-list-background: rgb(214, 213, 213);
    --project-sidebar-hover:rgb(214, 213, 213);

}

body, h1, h2, h3, h4, p, li, form, input, div, fieldset, tr, th, td  {
    padding: 0px;
    margin: 0px;
}

.content {
    display: grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 1fr 4fr;
}

.logo {
    grid-area: 1/1/2/3;
    background-color: var(--logo-background);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.logo-icon {
    box-sizing: border-box;
    padding: 40px;
    justify-self: start;
}

.svg {
    height: 50px;
    width: 50px;
    background-image: url('./assets/logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-text {
    color: var(--logo-text);
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "Kalam", cursive;
}

.side-bar {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--side-bar-background);
    display: grid;
    grid-template-rows: 120px 1fr;
}

.static {
    display: grid;
    justify-items: center;
}

.static h2 {
    box-sizing: border-box;
    margin-top: 20px;
    color: var(--side-bar-static-text);
}

.static > .create {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url('./assets/create.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.static > .create:hover {
    transform: scale(1.4);
}

.projectTitle {
    height: 200px;
    width: 600px;
    border-radius: 20px;
    cursor: default;
}

.data {
    display: grid;
    grid-template-columns: 440px;
    justify-content: center;
}


.data input {
    font-size: 1.4rem;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    position: relative;
}

.data input::placeholder {
    text-align: center;
}

.max-chars {
    position: absolute;
    top: 62px;
    right: 25px;
}

.action-buttons {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    gap: 20px;
}

.cancel, .submit {
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

}

.cancel {
    background-color: var(--cancel-button);
}

.cancel:hover {
    background-color: var(--cancel-button-hover);
}

.submit {
    background-color: var(--submit-button);
}
.submit:hover {
    background-color: var(--submit-button-hover);
}


.project-list {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    overflow: scroll;
    gap: 20px;
}
.project-sidebar {
    padding: 10px;
    font-size: 1.3rem;
    border-bottom: 1px solid;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
    overflow-wrap: break-word;
}

.project-sidebar:hover {
    cursor: pointer;
    background-color: var(--project-sidebar-hover);
}

.project {
    background-color: var(--project-background);
    justify-items: center;
    display: grid;
    grid-auto-rows: min-content;
    gap: 30px;
    overflow: scroll;
}

.projectInfoTitle {
    font-size: 2rem;
    margin-top: 20px;
}

.create-task {
    font-size: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.create-task:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.newTaskDialog {
    height: 550px;
    width: 600px;
    border-radius: 10px;
}

.dialogData {
    display: grid;
    gap: 30px;
}

.data2 {
    display: grid;
}

.max-chars2 {
    position: absolute;
    top: 32px;
    right: 20px;
}

.task-title{
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    margin-left: 60px;
    margin-right: 60px;

}

.task-title::placeholder {
    text-align: center;
}

.data3 {
    display: grid;
}

.max-chars3 {
    position: absolute;
    top: 190px;
    right: 20px;
}

.task-description {
    height: 100px; 
    font-size: 1.1rem; 
    padding: 10px; 
    resize: none;
    font-family: "Plus Jakarta Sans", sans-serif;;
    border-radius: 10px;
    outline: none;
    margin-left: 60px;
    margin-right: 60px;
  }



.dateData {
    width: min-content;
    padding: 10px;
    background-color: var(--side-bar-background);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: grid;
    align-items: center;
}

#date {
    opacity: 0;
    width: 0px;
    cursor: pointer;
    position: absolute;
}

.date-icon {
    position: relative;
    display: grid;
    align-items: center;
    height: 80px;
    width: 80px;
    background-image: url("./assets/calendar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
};

#pdata {
    width: min-content;
    padding: 10px;
    background-color: var(--side-bar-background);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.priorityData {
    width: min-content;
    padding: 10px;
    background-color: var(--side-bar-background);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.priority-icon {
    display: inline-block;
    height: 30px;
    width: 80px;
    background-color: var(--side-bar-background);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

#options {
    border: none;
    background-color: var(--side-bar-background);
    display: grid;
    border-radius: 10px;

}

#low, #medium, #high {
    opacity: 0;
}



.icon-low, .icon-medium, .icon-high {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    justify-self: end;
}

.icon-low {
    background-image: url("./assets/low.svg");
}

.icon-medium {
    background-image: url("./assets/medium.svg");
}

.icon-high {
    background-image: url("./assets/high.svg");
}

#options label {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

#options label:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.date-priority {
    display: grid;  
    grid-auto-flow: column;
    justify-items: center;
    
}

.importantButtons {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
}

.cancel-task {
    width: max-content;
    justify-self: start;
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--cancel-button);
    cursor: pointer;
    padding: 20px;
}

.cancel-task:hover {
    background-color: var(--cancel-button-hover);
}

.submit-task {
    width: max-content;
    justify-self: end;
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--submit-button);
    cursor: pointer;
    padding: 20px;
}

.submit-task:hover {
    background-color: var(--submit-button-hover);
}

div.containerOfTable {
    width: 90%;
    display: grid;
    overflow: scroll;
}

table {
    margin-top: 20px;
    background-color: var(--side-bar-background);
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
    width: 100%;
    table-layout: auto; 
    border-collapse: collapse;
}

th, td { 
    padding: 10px 30px;
    text-align: start;
    font-size: 1.2rem;
    max-width: 200px;
    overflow-wrap: break-word;
}

td {
    font-size: 1rem;
}

tbody tr:nth-child(odd) {
    background-color: var(--project-background);
}